.home {
  text-align: center;
  padding: 20px;
}

.main{
  display: flex;
  flex-direction: column;
  gap:10px;
}

.home h1 {
  font-size: 28px;
  margin-bottom: 20px;
}

.user-info {
  margin-bottom: 20px;
}

.current-user {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

.current-user p {
  margin: 5px 0;
}

form {
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 10px;
  font-size: 16px;
  margin-bottom: 20px;
}

button[type="submit"], .logout-button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin-left: 5px;
}

button[type="submit"]:hover, .logout-button:hover {
  background-color: #555;
}
